<div class="wrap">
<header>
<label for="slide-1-trigger">Slide One</label>
<label for="slide-2-trigger">Slide Two</label>
<label for="slide-3-trigger">Slide Three</label>
<label for="slide-4-trigger">Slide Four</label>
</header>

    <input type="radio" name="slides" id="slide-1-trigger" checked>
    <section class="slide slide-one">
        <h1>Headline One</h1>
    </section>
    <input type="radio" name="slides" id="slide-2-trigger">
    <section class="slide slide-two">
        <h1>Headline Two</h1>
    </section>
    <input type="radio" name="slides" id="slide-3-trigger">
    <section class="slide slide-three">
        <h1>Headline Three</h1>
    </section>
    <input type="radio" name="slides" id="slide-4-trigger" >
    <section class="slide slide-four">
        <h1>Headline Four</h1>
    </section>   
</div>